body {
    min-width: 960px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow", Arial, sans-serif;

}

h1 {
    font-size: 30px;
    line-height: 42px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow", Arial, sans-serif;
}

h2 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow", Arial, sans-serif;
}

.product-item h2 {
    font-size: 14px;
    line-height: 18px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    margin-bottom: 60px;
    background-color: #000000;
    color: #ffffff;
    padding-top: 23px;
}

.container {
    width: 940px;
    margin: auto;
    padding: 0 10px;
}

.main-navigation {
    width: 780px;
    float: left;
    min-height: 70px;
    margin-left: 20px;
}

.logo {
    width: 140px;
    float: left;
}

.main-navigation ul {
    width: 610px;
    float: left;
    padding: 0;
}

.user-block {
    width: 140px;
    float: right;
    min-height: 70px;
}

.breadcrumbs {
    margin-top: 20px;
    margin-bottom: 55px;
}

.breadcrumbs ul {
    padding: 0;
}

.filters {
    width: 220px;
    float: left;
}

.filter-name {
    display: block;
    margin-bottom: 30px;
}

.filters ul {
    margin-bottom: 50px;
    padding: 0;
}

.catalog {
    width: 700px;
    float: right;
}

.product-item {
    width: 220px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.product-item:nth-child(3n+1) {
    clear: both;
}

.product-item:nth-child(3n) {
    margin-right: 0;
}

.product-images {
    width: 460px;
    float: left;
}

.description {
    width: 390px;
    float: right;
}

.index-content {
    margin-bottom: 50px;
}
.pages {
    clear: both;
    width: 700px;
    float: left;
    margin-top: 45px;
    margin-bottom: 50px;
}

.footer {
    clear: both;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #222222;
    color: #ffffff;
}

.contacts {
    width: 320px;
    float: left;
    margin-right: 60px;
    min-height: 90px;
}

.social {
    width: 180px;
    float: left;
    min-height: 90px;
}

.developers {
    width: 180px;
    float: right;
    min-height: 90px;
}

.product-images ul {
    padding: 0;
}

.thumbs {
    width: 
}
